name: Deploy react app to gh pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: config/node/frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: config/node/frontend/package-lock.json

      - name: Install Dependency
        run: npm install

      - name: Change Homepage
        run: npm pkg set homepage=https://kinfthaderp.github.io/prge_bgm

      - name: Build
        run: npm run build

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: config/node/frontend/build

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.output.page_url}}
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to gh pages
        id: deployment
        uses: actions/deploy-pages@v4


